# Attacker Service Principal (DO NOT COMMIT REAL SECRETS)
ATTACKER_CLIENT_ID=00000000-0000-0000-0000-000000000000
ATTACKER_CLIENT_SECRET=REPLACE_ME
ATTACKER_TENANT_ID=00000000-0000-0000-0000-000000000000

# Target Azure context
AZURE_SUBSCRIPTION_ID=00000000-0000-0000-0000-000000000000
AZURE_RESOURCE_GROUP=rg-identity-threat-simulator
AZURE_KEYVAULT_NAME=its-keyvault-demo
AZURE_STORAGE_ACCOUNT_NAME=itstoragedemonow
AZURE_STORAGE_CONTAINER_NAME=demo

